In [3]:
arr=np.arange(0,4*2*4)
len(arr)

32

In [4]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [5]:
v=arr.reshape([4,2,4])

In [6]:
v

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31]]])

In [7]:
v.ndim

3

In [8]:
v.sum()

496

In [11]:
res01=v.sum(axis=0)
res01

array([[48, 52, 56, 60],
       [64, 68, 72, 76]])

In [12]:
res01.shape

(2, 4)

In [14]:
res02=v.sum(axis=1)
res02

array([[ 4,  6,  8, 10],
       [20, 22, 24, 26],
       [36, 38, 40, 42],
       [52, 54, 56, 58]])

In [15]:
res02.shape

(4, 4)

In [16]:
res03=v.sum(axis=2)
res03

array([[  6,  22],
       [ 38,  54],
       [ 70,  86],
       [102, 118]])

In [17]:
res03.shape

(4, 2)

##### 스칼라
하나의 숫자만으로 이루어진 데이터를 의미

##### 벡터
여러 숫자가 순서대로 모여있는 것으로, 일반적인 일차원 배열이 벡터이다.
4개의 데이터가 모여있는 열벡터는 4차원 벡터이다.

##### 행렬
복수의 차원을 가지는 데이터가 다시 여러 개 있는 경우의 데이터를 합쳐서 표기한 것이다. 일반적으로 2차원 배열이 행렬이다. 
특히 3차원 이상 배열은 텐서(tensor)라고 한다.

#### 다차원 배열에서 axis의 의미
- axis=1 --column
- axis =0 -- row
- axis =2 -- depth

In [20]:
arr=np.arange(0,32)
len(arr)

32

In [21]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [22]:
v=arr.reshape([4,2,4])

In [23]:
v

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31]]])

In [25]:
v.ndim
# axis를 2까지 설정이 가능하다.

3

In [27]:
v.sum()
# 모든 element의 합

496

In [29]:
res01=v.sum(axis=0)
res01

array([[48, 52, 56, 60],
       [64, 68, 72, 76]])

In [31]:
res01.shape
# 결과적으로 row를 합치는 과정

(2, 4)

In [37]:
v

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23]],

       [[24, 25, 26, 27],
        [28, 29, 30, 31]]])

In [32]:
res02=v.sum(axis=1)
res02

array([[ 4,  6,  8, 10],
       [20, 22, 24, 26],
       [36, 38, 40, 42],
       [52, 54, 56, 58]])

In [34]:
res02.shape
# 결과적으로 column을 합치는 과정

(4, 4)

In [35]:
res03=v.sum(axis=2)
res03

array([[  6,  22],
       [ 38,  54],
       [ 70,  86],
       [102, 118]])

In [36]:
res03.shape
# 결과적으로 depth를 합치는 과정

(4, 2)

axis=None은 기본값으로 모든 요소의 값을 합산하여 1개의 스칼라값을 반환
axis=0은 x축을 기준으로 여러 row를 한개로 합치는 과정
axis=1은 y축을 기준으로 row 별로 존재하는 column들을 한개로 합치는 과정
axis=2은 z축을 기준으로 column의 depth가 가진 값을 축소하는 과정