In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [31]:
dates=pd.date_range('20160816','20180515',period=21,freq="M")
len(dates)

21

In [41]:
df=pd.DataFrame(np.random.randn(21,1),index=dates,columns=['amy_life'])
df.loc[:3]='No Answer'
df.loc[3:11]='Do you think you more than before? Really?'
df.loc[11:12]='Congratulation! you did half of it!!kkkkkkk'
df.loc[12:17]=' you have been here, and will be'
df.loc[17:18]='well...'
df.loc[18:20]='uhm...something is showing up a little!!'
df.loc[20:]='Good work!'
df

                                               amy_life
2016-08-31                                    No Answer
2016-09-30                                    No Answer
2016-10-31                                    No Answer
2016-11-30   Do you think you more than before? Really?
2016-12-31   Do you think you more than before? Really?
2017-01-31   Do you think you more than before? Really?
2017-02-28   Do you think you more than before? Really?
2017-03-31   Do you think you more than before? Really?
2017-04-30   Do you think you more than before? Really?
2017-05-31   Do you think you more than before? Really?
2017-06-30   Do you think you more than before? Really?
2017-07-31  Congratulation! you did half of it!!kkkkkkk
2017-08-31              you have been here, and will be
2017-09-30              you have been here, and will be
2017-10-31              you have been here, and will be
2017-11-30              you have been here, and will be
2017-12-31              you have been here, and will be
2018-01-31                                      well...
2018-02-28     uhm...something is showing up a little!!
2018-03-31     uhm...something is showing up a little!!
2018-04-30                                   Good work!

In [45]:
df['amy_life']

2016-08-31                                      No Answer
2016-09-30                                      No Answer
2016-10-31                                      No Answer
2016-11-30     Do you think you more than before? Really?
2016-12-31     Do you think you more than before? Really?
2017-01-31     Do you think you more than before? Really?
2017-02-28     Do you think you more than before? Really?
2017-03-31     Do you think you more than before? Really?
2017-04-30     Do you think you more than before? Really?
2017-05-31     Do you think you more than before? Really?
2017-06-30     Do you think you more than before? Really?
2017-07-31    Congratulation! you did half of it!!kkkkkkk
2017-08-31                you have been here, and will be
2017-09-30                you have been here, and will be
2017-10-31                you have been here, and will be
2017-11-30                you have been here, and will be
2017-12-31                you have been here, and will be
2018-01-31                                        well...
2018-02-28       uhm...something is showing up a little!!
2018-03-31       uhm...something is showing up a little!!
2018-04-30                                     Good work!
Freq: M, Name: amy_life, dtype: object

In [46]:
df[0:3]

             amy_life
2016-08-31  No Answer
2016-09-30  No Answer
2016-10-31  No Answer

In [55]:
df.at[dates[1],'amy_life']

'No Answer'

In [56]:
df.iloc[3:5,0:1]

                                              amy_life
2016-11-30  Do you think you more than before? Really?
2016-12-31  Do you think you more than before? Really?

In [60]:
df.iat[20,0]

'Good work!'

In [63]:
df=pd.DataFrame(data=np.random.randn(6,6),columns=list('abcdef'))
df

          a         b         c         d         e         f
0 -2.063528 -0.673446 -0.484862 -0.316648  0.844868 -0.474021
1  0.404557 -0.884838  0.594606 -0.538970  0.397858 -0.466859
2  0.154853 -0.252535 -0.507515  1.121743 -0.153770  0.108289
3 -0.201208  0.847204 -1.882425  0.097666  0.181159  0.040267
4 -0.036224  0.473562  0.194966  0.404510 -0.527774  0.723997
5  1.673953  1.781844 -0.715153 -0.459187 -0.088549  0.498387

In [64]:
df.sort_index(ascending=False)

          a         b         c         d         e         f
5  1.673953  1.781844 -0.715153 -0.459187 -0.088549  0.498387
4 -0.036224  0.473562  0.194966  0.404510 -0.527774  0.723997
3 -0.201208  0.847204 -1.882425  0.097666  0.181159  0.040267
2  0.154853 -0.252535 -0.507515  1.121743 -0.153770  0.108289
1  0.404557 -0.884838  0.594606 -0.538970  0.397858 -0.466859
0 -2.063528 -0.673446 -0.484862 -0.316648  0.844868 -0.474021

In [65]:
df.sort_index(axis=1,ascending=False)

          f         e         d         c         b         a
0 -0.474021  0.844868 -0.316648 -0.484862 -0.673446 -2.063528
1 -0.466859  0.397858 -0.538970  0.594606 -0.884838  0.404557
2  0.108289 -0.153770  1.121743 -0.507515 -0.252535  0.154853
3  0.040267  0.181159  0.097666 -1.882425  0.847204 -0.201208
4  0.723997 -0.527774  0.404510  0.194966  0.473562 -0.036224
5  0.498387 -0.088549 -0.459187 -0.715153  1.781844  1.673953

In [68]:
df

          a         b         c         d         e         f
0 -2.063528 -0.673446 -0.484862 -0.316648  0.844868 -0.474021
1  0.404557 -0.884838  0.594606 -0.538970  0.397858 -0.466859
2  0.154853 -0.252535 -0.507515  1.121743 -0.153770  0.108289
3 -0.201208  0.847204 -1.882425  0.097666  0.181159  0.040267
4 -0.036224  0.473562  0.194966  0.404510 -0.527774  0.723997
5  1.673953  1.781844 -0.715153 -0.459187 -0.088549  0.498387

In [66]:
df.mean()

a   -0.011266
b    0.215299
c   -0.466730
d    0.051519
e    0.108965
f    0.071677
dtype: float64

In [67]:
df.mean(axis=1)

0   -0.527940
1   -0.082274
2    0.078511
3   -0.152890
4    0.205506
5    0.448549
dtype: float64

In [69]:
df['g']=np.random.randn(6)

In [70]:
df

          a         b         c         d         e         f         g
0 -2.063528 -0.673446 -0.484862 -0.316648  0.844868 -0.474021  0.351044
1  0.404557 -0.884838  0.594606 -0.538970  0.397858 -0.466859  0.575221
2  0.154853 -0.252535 -0.507515  1.121743 -0.153770  0.108289 -0.864692
3 -0.201208  0.847204 -1.882425  0.097666  0.181159  0.040267  0.864652
4 -0.036224  0.473562  0.194966  0.404510 -0.527774  0.723997 -0.142306
5  1.673953  1.781844 -0.715153 -0.459187 -0.088549  0.498387 -1.103761