In [2]:
import statsmodels.api as sm
# api 서브 패키지를 sm alias 로 임포트하면 웬만한 통계 분석을 다 할 수 있다.`

- r에서 쓰던 1000개 이상의 표준 데이터셋도 동일하게 제공하기 위해 노력하고 있다.
- `get_rdataset` 명령을 이용해서 데이터셋을 가져올 수 있다.
- `get_rdataset(item, [package="datasets"])`

In [3]:
data = sm.datasets.get_rdataset('Titanic',package='datasets')

In [4]:
df =data.data
df.tail()

   Class     Sex    Age Survived  Freq
27  Crew    Male  Adult      Yes   192
28   1st  Female  Adult      Yes   140
29   2nd  Female  Adult      Yes    80
30   3rd  Female  Adult      Yes    76
31  Crew  Female  Adult      Yes    20

In [6]:
print(data.__doc__)

+---------+-----------------+
| Titanic | R Documentation |
+---------+-----------------+

Survival of passengers on the Titanic
-------------------------------------

Description
~~~~~~~~~~~

This data set provides information on the fate of passengers on the
fatal maiden voyage of the ocean liner ‘Titanic’, summarized according
to economic status (class), sex, age and survival.

Usage
~~~~~

::

    Titanic

Format
~~~~~~

A 4-dimensional array resulting from cross-tabulating 2201 observations
on 4 variables. The variables and their levels are as follows:

+----+----------+---------------------+
| No | Name     | Levels              |
+----+----------+---------------------+
| 1  | Class    | 1st, 2nd, 3rd, Crew |
+----+----------+---------------------+
| 2  | Sex      | Male, Female        |
+----+----------+---------------------+
| 3  | Age      | Child, Adult        |
+----+----------+---------------------+
| 4  | Survived | No, Yes             |
+----+----------+---------------------+

Details
~~~~~~~

The sinking of the Titanic is a famous event, and new books are still
being published about it. Many well-known facts—from the proportions of
first-class passengers to the ‘women and children first’ policy, and the
fact that that policy was not entirely successful in saving the women
and children in the third class—are reflected in the survival rates for
various classes of passenger.

These data were originally collected by the British Board of Trade in
their investigation of the sinking. Note that there is not complete
agreement among primary sources as to the exact numbers on board,
rescued, or lost.

Due in particular to the very successful film ‘Titanic’, the last years
saw a rise in public interest in the Titanic. Very detailed data about
the passengers is now available on the Internet, at sites such as
*Encyclopedia Titanica* (http://www.rmplc.co.uk/eduweb/sites/phind).

Source
~~~~~~

Dawson, Robert J. MacG. (1995), The ‘Unusual Episode’ Data Revisited.
*Journal of Statistics Education*, **3**.
https://www.amstat.org/publications/jse/v3n3/datasets.dawson.html

The source provides a data set recording class, sex, age, and survival
status for each person on board of the Titanic, and is based on data
originally collected by the British Board of Trade and reprinted in:

British Board of Trade (1990), *Report on the Loss of the ‘Titanic’
(S.S.)*. British Board of Trade Inquiry Report (reprint). Gloucester,
UK: Allan Sutton Publishing.

Examples
~~~~~~~~

::

    require(graphics)
    mosaicplot(Titanic, main = "Survival on the Titanic")
    ## Higher survival rates in children?
    apply(Titanic, c(3, 4), sum)
    ## Higher survival rates in females?
    apply(Titanic, c(2, 4), sum)
    ## Use loglm() in package 'MASS' for further analysis ...

### Scikit-Learn 의 샘플 데이터
- load 계열 명령
    - 패키지에 처음부터 저장되어 다운로드 없이 바로 쓸 수 있는 것이다.
- fetch 계열 명령
    - 인터넷에서 다운로드 받아서 홈 디렉토리 아래의 서브 디렉토리에 저장한 후 추후 불러들이는 데이터
- make 계열 명령
    - 원하는 특성을 가진 가상의 데이터가 필요할 수 있는데 이때 이러한 가상 데이터를 생성한다.
- 데이터 세트의 형식
    - data 
        - input arguement form of matrix
    - target
        - outpus argument form of vector
    - feature_names
        - data's name list
    - target_names
        - target's name list
    - DESCR
        - kind of docstring about data(option)